*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
} 
a{
    text-decoration: none;
    color: #333333;
}
img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5{
    font-weight:normal;
}
/* 主体样式 */
.bxq{
    width:1200px;
    margin:0 auto;
}
.nav{
    background:url(../img/logo.png) no-repeat 46px;
    height:80px;
}
.nav ul{
    width: 753px;
    height:74px;
    float: right;
}
.nav li{
    font-size: 20px;
    line-height: 80px;
    text-align: center;
    width: 157px;
    height:74px;
    color:#333333;
    float: left;
}
.nav li:nth-child(1){
    width: 122px;
}
.nav ul li:hover{
    color: #90766f;
    border-bottom:6px solid #866961;
}
/* banner */
.banner{
    width:100%;
    margin: 0 auto;
    background: url(../img/关于我们.png) no-repeat center center;
    height:401px;
}
.banner .cc{
    width: 100%;
}
.cc img{
    width: 100%;
    height:422px;
} 
/* 主体 */
.mainc{
    height:73px;
    width: 1000px;
    margin:0 auto;
}
.mainc .bt{
    width:1000px;
    height:54px;
    padding-bottom:6px;
    border-bottom:1px solid #d5d5d5 ;
    margin:39px 0 20px 0;
}
.mainc li{
    float: left;
    margin-right:31px;
}
.mainc .aa{
    margin-left: 11px;
}
.mainc ol{
    color: #333333;
    font-size:16px;
    padding:35px 0 0 737px;
}
.main{
    height: 1000px;
}
.main .m1{
    width:1000px;
    position: absolute;
    display: none;
    
}

#active{
    display: block;
    margin:0 128px;
    height: 100%;
    width:1000px;
}
.ben{
    width: 1000px;
    height: 1033px;
    margin: 0 auto;
}
.ben img{
    width: 1000px;
    height: 390px;
}
.ben h2{
    text-align: center;
}
.ben h4{
    font-size: 16px;
    margin:10px 0;
}
.ben p{
    text-indent:20px;
    line-height: 28px;
    font-size: 14px;
    margin:20px 0;
}
.main2{
    height: 300px;
    margin: 0 auto;
    width:1000px;
}
.main2 ul{
    width: 1000px;
    height: 518px;
}
.main2 li{
    height: 108px;
    width: 1000px;
    border-bottom: 1px solid #f2f2f2;
}
.main2 li img{
    float: left;
    margin-top:26px;
}
.main2 li div{
    width: 921px;
    float: left;
    margin-left: 18px;
    margin-top:14px;
}
.main2 li h4{
    font-size: 18px;
    line-height:40px;
    color: #99837d;
    
}
.main2 li h6{
    font-size:14px;
    color: #666666;
}
.dd1{
    margin-top: 300px;
    height:1066px;
    width: 1000px;
    margin: 0 auto;
}
.main3{
    width: 1000px;
    height: 154px;
} 
.main3 ul{
    width: 1000px;
    margin: 0 auto;
}
.main3 ul li{
    width: 1000px;
    height:300px;
}
.main3 ul li:nth-child(1){
    height:110px;
}
.main3 ul li:nth-child(2){
    height:171px;
}
.main3 ul li:nth-child(3){
    height:102px;
}
.main3 ul li:nth-child(4){
    height:110px;
}
.main3 li img{
    float: left;
    width: 103px;
    margin:12px 15px 0 10px;
    background-color: burlywood;
}
.main3 li div{    
    margin-top: 9px;
    float: left;
    width: 872px;
    height: auto;
    display: block;
} 
.main3 span{
    display: block;
    height: 48px;
    color: #666666;
    border-bottom: 1px solid #f2f2f2;
    padding-right: 21px;
    font-size: 16px;
}
.main3 li div:nth-child(1){
    height:87px;
    background-color: coral;
}
.bo{
    width: 1000px;
    height:172px;
}
.bo p{
    font-size: 16px;
    color: #666666;
    text-indent:31px;
    margin-top:21px;
    line-height: 30px;
}
.bo p:nth-child(2){
    margin-bottom: 39px;
}
/* 底部 */
.foot{
    background: url(../img/foot.png) no-repeat;
    width: 100%;
    height:80px;
    margin-top:100px;
}
.foot p{
    font-size: 14px;
    color: #fff;
    line-height: 80px;
    height: 80px;
    text-align: center;
    float: left;
    width: 860px;
}
.foot img{
    width: 116px;
    float: left;
    margin-top: 19px;
}




